body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}
.navbar {
    background-color: #1c1c1c;
}
.navbar a {
    color: #ffffff !important;
}
.form-container {
    margin-top: 50px;
}
.thumbnail {
    max-width: 200px;
    margin-top: 20px;
}
.theme-selector {
    cursor: pointer;
}
#download-link {
    display: none;
    margin-top: 20px;
}